@import "src/styles/imports.scss";
$current: $mobile;

.menu-wrapper {
  transition: all 300ms ease-out;

  &.burger-open {
    transform: translateX(vw_size(-260, $current));
  }
}
.sidebar-cms {
  display: flex;
  flex-direction: row;
  .cms {
    width: 100%;
  }
}

@media (min-width: $media-tablet) {
  $current: $tablet;

  .menu-wrapper {
    &.burger-open {
      transform: translateX(vw_size(-350, $current));
    }
  }
}

@media (min-width: $media-desktop) {
  $current: $desktop_max;

  .cms {
    margin-inline-start: vw_size(450, $current);

    padding-inline-start: vw_size(30, $current);
    width: 100%;
  }
}
