@import "./settings.scss";
@mixin cmsButton($color) {
  transition: all 500ms ease-in-out;
  border: 1px solid $color;
  color: black;
  border-radius: 5px;
  background-color: transparent;
  &:hover {
    background-color: $color;
    border: none;
    color: white;
  }
}

@mixin cmsButtonRed {
  @include cmsButton($cmsRed);
}

@mixin cmsButtonBlue {
  @include cmsButton($cmsBlue);
}

@mixin cmsButtonGreen {
  @include cmsButton($cmsGreen);
}

@mixin hideScrollbar() {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
