@import "src/styles/imports.scss";
$current: $mobile;
.sidebar-menu-list {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-top: vw_size(30, $current);
  height: 75vh;
  overflow: scroll;
  @include hideScrollbar();
}
@media (min-width: $media-tablet) {
  $current: $tablet;

  .sidebar-menu-list {
    margin-top: vw_size(30, $current);
  }
}

@media (min-width: $media-desktop) {
  $current: $desktop_max;

  .sidebar-menu-list {
    margin-top: vw_size(30, $current);
  }
}
