@import "src/styles/imports.scss";
$current: $mobile;

.table-clients-container {
  padding-top: vw_size(30, $current);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: vw_size(50, $current);
  .button {
    margin-top: vw_size(20, $current);
  }
  .download-file {
    display: flex;
    align-items: center;
    justify-content: center;
    height: vw_size(30, $current);
    width: vw_size(120, $current);
    margin-top: vw_size(15, $current);
    border: 1px solid $appleGreen;
    border-radius: vw_size(5, $current);
    font-size: vw_size(14, $current);
  }
}

@media (min-width: $media-tablet) {
  $current: $tablet;

  .table-clients-container {
    padding-top: vw_size(30, $current);
    padding-bottom: vw_size(50, $current);

    .button {
      margin-top: vw_size(20, $current);
    }
    .download-file {
      height: vw_size(30, $current);
      width: vw_size(130, $current);
      margin-top: vw_size(15, $current);
      border-radius: vw_size(5, $current);
      font-size: vw_size(14, $current);
    }
  }
}

@media (min-width: $media-desktop) {
  $current: $desktop;

  .table-clients-container {
    padding-top: vw_size(30, $current);
    padding-bottom: vw_size(50, $current);

    .table {
      width: 90%;
    }
    .button {
      margin-top: vw_size(20, $current);
    }
    .download-file {
      height: vw_size(35, $current);
      width: vw_size(190, $current);
      margin-top: vw_size(15, $current);
      border-radius: vw_size(5, $current);
      font-size: vw_size(16, $current);
    }
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_max;

  .table-clients-container {
    padding-top: vw_size(30, $current);
    padding-bottom: vw_size(50, $current);

    .button {
      margin-top: vw_size(20, $current);
    }
    .download-file {
      height: vw_size(35, $current);
      width: vw_size(190, $current);
      margin-top: vw_size(15, $current);
      border-radius: vw_size(5, $current);
      font-size: vw_size(16, $current);
    }
  }
}
